---
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 2
ContinuationIndentWidth: 4
ObjCSpaceBeforeProtocolList: false

AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None

AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBraces: Attach
PointerAlignment: Right
ObjCBlockIndentWidth: 2
SpacesBeforeTrailingComments: 1

BinPackParameters: false
BinPackArguments: false
---
